bin/
obj/
.vs/
.idea/
.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

TestResults/
*.trx

*.nupkg
*.snupkg
**/packages/*
.nuget/

artifacts/
publish/
BenchmarkDotNet.Artifacts/

*.swp
*.swo
*.tmp
*.temp
*.bak
*.cache
*.DS_Store
Thumbs.db
[Dd]esktop.ini
